{% extends "TomAdminBundle::base.html.twig" %}

{% block pageTitle %}{{ pageTitle|striptags }} - {{ parent() }}{% endblock %}
{% block ogTitle %}{{ pageTitle|striptags }} - {{ parent() }}{% endblock %}
{% block ogImage %}                 {% endblock %}
{% block metaDescription %}         {% endblock %}
{% block ogDescription %}           {% endblock %}
{% block metaKeywords %}            {% endblock %}

{% block stylesheets %}
{{parent()}}
{% endblock %}

{% block pageContainer %}
<section class="content-header">
  <h1>{{ pageTitle|raw }}</h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>
   {% for flashMessage in app.session.flashbag.get('TomAdminBundle_form_notice') %}
<div class="alert alert-success alert-dismissible fade in" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
<strong>{{ flashMessage }}</strong>
</div>
{% endfor %} 
<section class="content">


</section>
{% endblock %}

{% block javascripts %}
{{parent()}}
{% endblock %}