{% extends "TomAdminBundle::base.html.twig" %}

{% block pageTitle %}{{ pageTitle|striptags }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
{{parent()}}
{% endblock %}

{% block pageContainer %}
<section class="content-header">
  <h1>{{ pageTitle|raw }}</h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>

<section class="content">

    <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header padding-bottom-15">
              <h3 class="box-title">Lista</h3>
              <div class="box-tools">
                  <a class="btn btn-block btn-md btn-success pull-right" href="{{ path('common_user_admin_user_form') }}"><small><i class="fa fa-plus"></i></small>&nbsp;&nbsp;Dodaj nowego</a>
              </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">

                <form action="{{ path('common_user_admin_users') }}" method="get" class="form-inline filter-search padding-top-15 padding-bottom-15" role="form">
                    
                    <div class="col-xs-6 col-md-2 col-lg-1 padding-bottom-15">
                        <div class="form-group limit">
                               <select name="limit" class="form-control select-block input-md" id="limit" placeholder="Pokaż">
                                   {% for limit in limits %}
                                       <option {{ currLimit == limit ? 'selected="selected"':'' }} value="{{ limit }}">
                                           {{ limit }}
                                       </option>
                                   {% endfor %}
                               </select>
                       </div>
                    </div>

                    <div class="col-xs-12 col-md-2 col-lg-3 padding-bottom-15 pull-right">
                        <div class="input-group" style="width: 100%;">
                          <input type="text" name="usernameLike" class="form-control input-md" placeholder="Wyszukaj po nazwie" value="{{ queryParams['usernameLike'] }}">
                          <div class="input-group-btn">
                            <button class="btn btn-md btn-block btn-default"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
               </form>
                
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Id', 'u.id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Nazwa użytkownika', 'u.username') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'E-mail', 'u.email') }}</th>
                        <th>Rola</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Data rejestracji', 'u.registerDate') }}</th>
                        <th class="actions">Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in pagination %}
                        {% set formPath = path('common_user_admin_user_form', {'id': user.id}) %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td><a href="{{ formPath }}">{{ user.username }}</a></td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% for role in user.roles %}
                                <span style="margin-right: 5px;" class="label label-{% if role == 'ROLE_USER' %}default{% elseif role == 'ROLE_EDITOR' %}info{% elseif role == 'ROLE_ADMIN' %}warning{% elseif role == 'ROLE_SUPER_ADMIN' %}danger{% endif %}">
                                {% if role == 'ROLE_USER' %}Użytkownik{% elseif role == 'ROLE_EDITOR' %}Redaktor{% elseif role == 'ROLE_ADMIN' %}Administrator{% elseif role == 'ROLE_SUPER_ADMIN' %}Super administrator{% endif %}
                                </span>
                            {% else %}
                                <span class="label label-default">Użytkownik</span>
                            {% endfor %}
                        </td>
                        <td>{{ user.registerDate|admin_format_date }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{{ formPath }}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>

                                  {% if is_granted('ROLE_ADMIN') %}
                                      {% set tokenName = csrfProvider.generateCsrfToken(deleteTokenName|format(user.id)) %}
                                      {% set deleteUrl = path('common_user_admin_user_delete', {'id': user.id, 'token': tokenName}) %}
                                      <a href="{{ deleteUrl }}" class="btn btn-danger" data-confirmAction="">
                                          <span class="glyphicon glyphicon-trash"></span>
                                      </a>
                                  {% endif %}
                                  
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <a href="{{ path('tom_site_homepage') }}?_switch_user={{ user.username }}" class="btn btn-warning">
                                          <i class="fa fa-exchange"></i>
                                        </a>
                                    {% endif %}
                              </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            </div>
            <div class="box-footer clearfix">
                {{ knp_pagination_render(pagination, 'TomAdminBundle:Pagination:admin_pagination.html.twig') }}
            </div>
          </div>
        </div>
      </div>

</section>
{% endblock %}

{% block javascripts %}
{{parent()}}
{% endblock %}