{% extends "TomAdminBundle::base.html.twig" %}

{% block pageTitle %}{{ pageTitle|striptags }} - {{ parent() }}{% endblock %}
{% block ogTitle %}{{ pageTitle|striptags }} - {{ parent() }}{% endblock %}
{% block ogImage %}                 {% endblock %}
{% block metaDescription %}         {% endblock %}
{% block ogDescription %}           {% endblock %}
{% block metaKeywords %}            {% endblock %}

{% block stylesheets %}
{{parent()}}
{% endblock %}

{% block pageContainer %}
<div class="content-wrapper">
       <section class="content-header">
         <h1>{{ pageTitle|raw }}</h1>
         <ol class="breadcrumb">
           <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
           <li class="active">Here</li>
         </ol>
       </section>

       <section class="content">
         <form action="{{ path('tom_admin_settings') }}" method='post'>
        {{ form_errors(form) }}
        {{ form_row(form.descriptions) }}
        {{ form_row(form.keywords) }}
  
        
        {{ form_rest(form) }}
        
       
       
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
    <input type='submit' value='Zapisz' class="btn btn-primary">
      </div>
     </form>


       </section>
</div>
{% endblock %}

{% block javascripts %}
{{parent()}}
{% endblock %}