{% extends "TomAdminBundle::base.html.twig" %}

{% block pageTitle %}{{ pageTitle|striptags }} - {{ parent() }}{% endblock %}
{% block ogTitle %}{{ pageTitle|striptags }} - {{ parent() }}{% endblock %}
{% block ogImage %}                 {% endblock %}
{% block metaDescription %}         {% endblock %}
{% block ogDescription %}           {% endblock %}
{% block metaKeywords %}            {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/tomadmin/google/css/default.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tomadmin/markitup/markitup/skins/markitup/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tomadmin/markitup/markitup/sets/html/style.css') }}">
{{parent()}}
{% endblock %}

{% block pageContainer %}

       <section class="content-header">
         <h1>{{ pageTitle|raw }}</h1>
         <ol class="breadcrumb">
           <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
           <li class="active">Here</li>
         </ol>
       </section>   
       <section class="content">
           <div class="box box-default">
               <div class="box-header with-border">
                    <h3 class="box-title">Ustawienia SEO</h3>

                    <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
               </div>
               <div class="box-body" style="display: block;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                  {{ form(form, {'attr': {'novalidate': 'true'}}) }}
                                  <!--wysihtml5-toolbar -->
                            </div>
                            <!-- /.form-group -->
                            <div class="box-body">
                                <div class="row">
                                     <div class="center-block" style="width:400px;">
                                <img class="img-responsive pad" src="{{ asset('uploads/image-seo/') }}{{ seo.image }}" />
                                     </div></div></div>
                        </div>
                         <!-- /.col -->
                    </div>
                  <!-- /.row -->
                </div>
           </div>
       </section>
       
       <div class="content">
       <div class="serps-wrapper clearfix">

<div class="preview-window  clearfix">
<div class="google-top">
<span class="google-logo"></span>

<div class="search-wrapper">
    <span class="google-search emptyMe"></span>
    <span class="google-btn"></span>
</div>

</div>

<div class="search-type-bar">
    <ul class="search-type">
        <li><span class="active_google">Internet</span></li>
        <li>Grafika</li>
        <li>Filmy</li>
        <li>Zakupy</li>
        <li>Wiadomości</li>
    </ul>
</div>
<div class="results">   
    <p id="title" class="gTitle emptyMe">DUPA</p>
    <p id="url" class="gUrl emptyMe"></p>
    <p id="desc" class="gDesc emptyMe"></p>
</div>
</div>

<form id="search-form">
    <fieldset>
        
   		<label for="titleInput">Tytuł</label>
        <div id="titleNum" class="counter">Wielkość tytułu <span class="number">50</span></div>
        <input type="text" id="titleInput" class="gTitleInput" tabindex="1" value="DUPA"> 
        
        <label for="urlInput">Adres URL</label>
        <div id="urlNum"></div>
        <input type="text" id="urlInput" class="gUrlInput" tabindex="2">
        
        <label for="descInput">Opis strony</label>
        <div id="descNum" class="counter">Wielkość opisu <span class="number">155</span></div>
        <textarea type="text" id="descInput" class="gDescInput" tabindex="3"></textarea>
        
        <div class="form-group">
            <label for="searchInput">Słowo szukane</label>
            <input type="text" class="gSearchInput" id="searchInput" tabindex="4">
        </div>
        
        <input type="submit" class="btn" id="reset" tabindex="5" value="Zrestartuj">
    </fieldset>
</form>

</div>
       </div> 
{% endblock %}

{% block javascripts %}
{{parent()}}
<script src="{{ asset('bundles/tomadmin/markitup/markitup/jquery.markitup.js') }}"></script>
<script src="{{ asset('bundles/tomadmin/markitup/markitup/sets/html/set.js') }}"></script>
<script src="{{ asset('bundles/tomadmin/google/js/functions.js') }}"></script>

<script language="javascript">
$(document).ready(function()	{
   $('#seo_form_searchAction').markItUp(mySettings);
});
</script>
{% endblock %}