<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>{% spaceless %}{% block pageTitle %}Timeto.pl{% endblock %}{% endspaceless %}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta NAME="ROBOTS" CONTENT="noindex, nofollow" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta property="og:locale" content="pl_PL" />

        <meta property="og:title" content="{% spaceless %}{% block ogTitle %}Timeto.pl{% endblock %}{% endspaceless %}" />
        <meta property="og:site_name" content="Timeto.pl"/>
        <meta property="og:image" content="{% block ogImage %}{% endblock %}" />
        <meta name="Description" content="{% spaceless %}{% block metaDescription %}Timeto.pl{% endblock %}{% endspaceless %}">
        <meta property="og:description" content="{% spaceless %}{% block ogDescription %}Timeto.pl{% endblock %}{% endspaceless %}" />
        <meta name="keywords" content="{% spaceless %}{% block metaKeywords %}Timeto{% endblock %}{% endspaceless %}" />

        <!-- All Colored Stylesheets -->		

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->		

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tomsite/css/bootstrap/bootstrap.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tomsite/css/stylesheet.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tomsite/css/colors/blue.css') }}" title="blue" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tomsite/owl-carousel/owl-carousel/owl.carousel.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tomsite/owl-carousel/owl-carousel/owl.theme.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tomsite/owl-carousel/owl-carousel/owl.transitions.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tomsite/fonts/font-awesome/css/font-awesome.min.css') }}" />
        {% endblock %}

    </head>
    <body>       
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 logo">
                        <a href="{{ path('tom_site_homepage') }}">
                            <img class="img-responsive"  src="{{ asset('bundles/tomsite/images/logo.png') }}" alt="" type="image/svg+xml">
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <nav id="navigation">
            <div class="nav-header container-fluid" role="navigation">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="nav-header col-lg-12">
                                {{ knp_menu_render('main', {'template': 'TomSiteBundle:Menu:main.html.twig'}) }}

                                <ul class="menu-links pull-right">
                                    <li class="search"><i class="fa fa-search"></i></li>
                                </ul>
                                
                                <div class="menu-search">
                                    <div class="menu-search-container">
                                        <form method="post" action="" id="searchMain">
                                            <input type="text" name="search" placeholder="Wpisz szukaną frazę" autocomplete="off">
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    {% block topContent %}{% endblock %}
    <section class="page-contents">
        <div class="container">
            <div class="row">
            {% block mainContent %}{% endblock %}

            <div class="col-lg-4">
                {% block mainSidebarRight %}
                    <div class="join-us">
                        <div class="row category-caption">
                            <div class="col-lg-12">
                                <h2 class="pull-left">FOLLOW US</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul>
                                    <li class="facebook">
                                        <div class="icon"><a href="#"><i class="fa fa-facebook"></i></a></div>
                                    </li>
                                    <li class="twitter">
                                        <div class="icon"><a href="#"><i class="fa fa-twitter"></i></a></div>
                                    </li>
                                    <li class="linkedin">
                                        <div class="icon"><a href="#"><i class="fa fa-linkedin"></i></a></div>
                                    </li>
                                    <li class="dribbble">
                                        <div class="icon"><a href="#"><i class="fa fa-dribbble"></i></a></div>
                                    </li>
                                    <li class="facebook">
                                        <div class="icon"><a href="#"><i class="fa fa-facebook"></i></a></div>
                                    </li>
                                    <li class="twitter">
                                        <div class="icon"><a href="#"><i class="fa fa-twitter"></i></a></div>
                                    </li>
                                    <li class="linkedin">
                                        <div class="icon"><a href="#"><i class="fa fa-linkedin"></i></a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endblock %}
                <!-- JOIN NEWSLETTER STARTS -->
                <div class="newsletter-block">
                    <div class="row category-caption">
                        <div class="col-lg-12">
                            <h2 class="pull-left">JOIN OUR NEWSLETTER</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12"><input name="" type="text" placeholder="Email Address"></div>
                        <div class="col-lg-6"><input name="" type="text" placeholder="First Name"></div>
                        <div class="col-lg-6"><input name="" type="text" placeholder="Last Name"></div>
                        <div class="col-lg-12"><input type="button" value="SUBSCRIBE"></div>
                    </div>
                </div>
                <!-- JOIN NEWSLETTER ENDS -->
            </div>
        </div>
    </div>
{% block bottomContent %}{% endblock %} 
</section>

{% block footerContent %}
    <section class="footer">
        <!-- 1ST ROW STARTS -->
        <div class="row1">
            <div class="container">
                <div class="row">
                    <!-- FEATURED POSTS STARTS -->
                    <div class="col-lg-4">
                        <h3>Featured Posts</h3>
                        <ul class="footer-posts">
                            <li>
                                <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/1.jpg" class="img-circle" alt="" ></div>
                                <div class="info">
                                    <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                    <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                    <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                                </div>
                                <div class="caption"><a href="#">Aenean ultricies mi vitae est. Mauris placerat eleifend leosit amet est.</a></div>
                            </li>
                            <li>
                                <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/2.jpg" class="img-circle" alt="" ></div>
                                <div class="info">
                                    <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                    <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                    <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                                </div>
                                <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                            </li>
                            <li>
                                <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/3.jpg" class="img-circle" alt="" ></div>
                                <div class="info">
                                    <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                    <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                    <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                                </div>
                                <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4">
                        <h3>Recent Posts</h3>
                        <ul class="footer-posts">
                            <li>
                                <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/4.jpg" class="img-circle" alt="" ></div>
                                <div class="info">
                                    <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                    <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                    <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                                </div>
                                <div class="caption"><a href="#">Aenean ultricies mi vitae est. Mauris placerat eleifend leosit amet est.</a></div>
                            </li>
                            <li>
                                <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/5.jpg" class="img-circle" alt="" ></div>
                                <div class="info">
                                    <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                    <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                    <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                                </div>
                                <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                            </li>
                            <li>
                                <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/6.jpg" class="img-circle" alt="" ></div>
                                <div class="info">
                                    <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                    <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                    <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                                </div>
                                <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4">
                        <h3>Popular Posts</h3>
                        <ul class="footer-posts">
                            <li>
                                <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/7.jpg" class="img-circle" alt="" ></div>
                                <div class="info">
                                    <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                    <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                    <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                                </div>
                                <div class="caption"><a href="#">Aenean ultricies mi vitae est. Mauris placerat eleifend leosit amet est.</a></div>
                            </li>
                            <li>
                                <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/8.jpg" class="img-circle" alt="" ></div>
                                <div class="info">
                                    <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                    <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                    <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                                </div>
                                <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                            </li>
                            <li>
                                <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/9.jpg" class="img-circle" alt="" ></div>
                                <div class="info">
                                    <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                    <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                    <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                                </div>
                                <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="row2">
            <div class="container">
                <div class="row">
                    <!-- ABOUT MAG STARTS -->
                    <div class="col-lg-4">
                        <div class="about">
                            <h3>About the Magazine</h3>
                            <div class="footer-logo"><img src="images/footer-logo.png" alt="" ></div>
                            <div class="introduction">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.<br><br>Aenean ultricies mi vitae est. Mauris placerat eleifend leosit amet est.</div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="tweets">
                            <h3>Live Tweets</h3>
                            <ul>
                                <li>The Transformative Effects of Reading + Elon Musk's Reading List <a href="#">buff.ly/1BD52XY</a> <a href="#">pic.twitter.com/NpGbketQqV</a></li>
                                <li>Envato, The Australian Company Behind ThemeForest, Has Paid Out $224 Million To Its Users <a href="#">businessinsider.com.au/envato-the-aus…</a> by @<a href="#">alexandraheber</a></li>
                                <li>The Transformative Effects of Reading + Elon Musk's Reading List <a href="#">buff.ly/1BD52XY</a> <a href="#">pic.twitter.com/NpGbketQqV</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <h3>Contact Us</h3>
                        <ul class="contactus">
                            <li><i class="fa fa-building-o"></i> PO Box 16122 Collins Street West<br>Victoria 8007 Australia</li>
                            <li><i class="fa fa-phone"></i> +61 3 8376 6284</li>
                            <li><i class="fa fa-envelope-o"></i> <a href="#">info@umag.com</a></li>
                        </ul>

                        <h3>Follow Us</h3>
                        <ul class="social-icons">
                            <li>
                                <div class="icon facebook"><i class="fa fa-facebook"></i></div>
                            </li>
                            <li>
                                <div class="icon twitter"><i class="fa fa-twitter"></i></div>
                            </li>
                            <li>
                                <div class="icon linkedin"><i class="fa fa-linkedin"></i></div>
                            </li>
                            <li>
                                <div class="icon dribbble"><i class="fa fa-dribbble"></i></div>
                            </li>
                            <li>
                                <div class="icon youtube"><i class="fa fa-youtube"></i></div>
                            </li>
                            <li>
                                <div class="icon behance"><i class="fa fa-behance"></i></div>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>

        <div class="row3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 copyright">© Copyright 2015 - UMag</div>
                </div>
            </div>
        </div>

    </section>
{% endblock %} 
<a href="#" class="scrollup">Scroll</a>      


<script src="{{ asset('bundles/tomsite/js/jquery-1.11.1/jquery.min.js') }}"></script> 
<script src="{{ asset('bundles/tomsite/js/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/tomsite/js/sticky/jquery.sticky.js') }}"></script>     
<script src="{{ asset('bundles/tomsite/js/SmoothScroll/SmoothScroll.js') }}"></script>     
<script src="{{ asset('bundles/tomsite/owl-carousel/owl-carousel/owl.carousel.js') }}"></script>          
<script src="{{ asset('bundles/tomsite/js/fitvids/jquery.fitvids.js') }}"></script>     
<script src="{{ asset('bundles/tomsite/js/custom/custom.js') }}"></script>     
</body>

{% block javascripts %}
{% endblock %}
</body>
</html>