{% extends "TomAdminBundle::base.html.twig" %}

{% block pageTitle %}{{ pageTitle|striptags }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block pageContainer %}
    <section class="content-header">
        <h1>{{ pageTitle|raw }}</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>

    <section class="content" ng-controller="menuController">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form, {'attr': {'novalidate': 'true'}}) }}
        <div class="row">
            <!-- left column -->
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"><strong>{{ menu.id is not null or not form.vars.valid ? menu.title :'{[{title}]}' }}</strong></h3>
                    </div>

                    <div class="box-body">
                        {{ menu.id is not null or not form.vars.valid  ? form_row(form.title) : form_row(form.title, {'attr': {'ng-model': 'title'}}) }}
                        {{ form_row(form.route) }}

                        <div id="parameters" class="row">

                            <div id="paramGroups">
                                {% for key, param in menu.routeParameters %}
                                    <div class="parameter" data-id="{{ loop.index }}">
                                        <label class="col-sm-2 control-label">Parametr</label>
                                        <div class="col-xs-3 col-sm-3 offset-bottom-15 type">
                                            <input id="paramType" type="text" name="parameters[{{ loop.index }}][type]" value="{{ key }}" class="form-control" placeholder="id, slug, category itp." required />
                                        </div>
                                        <div class="col-xs-6 offset-bottom-15 value">
                                            <input id="paramValue" type="text" name="parameters[{{ loop.index }}][value]" value="{{ param }}" class="form-control" placeholder="wartość parametru" required />
                                        </div>
                                        <div class="col-xs-2 col-sm-1 offset-bottom-15">
                                            <button type="button" onclick="deleteParam(this);" class="btn btn-danger pull-right"><i class="fa fa-minus"></i></button>   
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="parameter" data-id="0">
                                        <label class="col-sm-2 control-label">Parametr</label>
                                        <div class="col-xs-3 col-sm-3 offset-bottom-15 type">
                                            <input id="paramType" type="text" name="parameters[0][type]" class="form-control" placeholder="id, slug, category itp." required />
                                        </div>
                                        <div class="col-xs-6 offset-bottom-15 value">
                                            <input id="paramValue" type="text" name="parameters[0][value]" class="form-control" placeholder="wartość parametru" required />
                                        </div>
                                        <div class="col-xs-2 col-sm-1 offset-bottom-15">
                                            <button type="button" onclick="deleteParam(this);" class="btn btn-danger pull-right"><i class="fa fa-minus"></i></button>   
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-xs-12">
                                <button type="button" onclick="addParam();" class="btn btn-info pull-right"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        {{ form_row(form.save) }}
                    </div>

                </div>
            </div>
            <!-- right column -->
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title"><strong>Publikacja</strong></h3>
                    </div>
                    <div class="box-body">
                        {{ form_row(form.publishedDate) }}
                        {{ form_row(form.type) }}
                        {{ form_row(form.parent) }}
                        {{ form_row(form.sort) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/tomadmin/angular/controller/menuController.js') }}"></script>

    <script type="text/javascript">

    menuTypeParameter();
    function menuTypeParameter() {
        if($('#menu_type_route').val() === 'tom_site_articles' || $('#menu_type_route').val() === 'tom_site_article' || $('#menu_type_route').val() === 'tom_site_page') {
            $('#parameters').show();
        } else {
            $('#parameters').hide();
            $('#paramGroups input').val('');
        }
    }

    function addParam() {
        row = parseInt($('#paramGroups .parameter:last').attr('data-id')) + 1;
        $('#paramGroups .parameter:last').clone().attr('data-id', row).appendTo("#paramGroups");
        $('#paramGroups').find("[data-id='" + row + "']").children('.type').find('input').attr('name', 'parameters[' + row + '][type]').val('');
        $('#paramGroups').find("[data-id='" + row + "']").children('.value').find('input').attr('name', 'parameters[' + row + '][value]').val('');
    }
    ;

    function deleteParam(object) {
        if ($('#paramGroups .parameter').length > 1) {
            $(object).parent().parent().remove();
        }
    }
    </script>
{% endblock %}