{% extends "TomSiteBundle::base.html.twig" %}

{% block pageTitle %}{{ parent() }}{% endblock %}
{% block ogTitle %}{{ parent() }}{% endblock %}
{% block ogImage %}{% endblock %}
{% block metaDescription %}{% endblock %}
{% block ogDescription %}{% endblock %}
{% block metaKeywords %}{% endblock %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block topContent %}
    <section>
        <div class="container">
            <div class="slider">
{#                <div class="row">
                    <div class="col-md-4 col-lg-4 kolumna">
                        <article class="kafelka kafelkaWysoka" style="background-image: url('{{ asset('bundles/tomsite/images/images/') }}slider/6.jpg');">
                            <a class="link" href="#">
                                <header class="naglowek">
                                    <h3 class="tytul">Test</h3>
                                </header>
                            </a>
                        </article>
                    </div>
                    <div class="col-md-4 col-lg-4 kolumna">
                        <article class="kafelka kafelkaNiska margin-bottom-30" style="background-image: url('{{ asset('bundles/tomsite/images/images/') }}slider/6.jpg');">
                            <a class="link" href="#">
                                <header class="naglowek">
                                    <h3 class="tytul">Test</h3>
                                </header>
                            </a>
                        </article>
                        <article class="kafelka kafelkaNiska" style="background-image: url('{{ asset('bundles/tomsite/images/images/') }}slider/6.jpg');">
                            <a class="link" href="#">
                                <header class="naglowek">
                                    <h3 class="tytul">Test</h3>
                                </header>
                            </a>
                        </article>
                    </div>
                    <div class="col-md-4 col-lg-4 kolumna">
                        <article class="kafelka kafelkaSrednia margin-bottom-30" style="background-image: url('{{ asset('bundles/tomsite/images/images/') }}slider/6.jpg');">
                            <a class="link" href="#">
                                <header class="naglowek">
                                    <h3 class="tytul">Test</h3>
                                </header>
                            </a>
                        </article>
                        <article class="kafelka kafelkaNajnizsza" style="background-image: url('{{ asset('bundles/tomsite/images/images/') }}slider/6.jpg');">
                            <a class="link" href="#">
                                <header class="naglowek">
                                    <h3 class="tytul">Test</h3>
                                </header>
                            </a>
                        </article>
                    </div>
                </div>#}
                <div class="row">
                    <div class="col-md-8 col-lg-8 kolumna">
                        <article class="kafelka kafelkaWysoka" style="background-image: url('{{ asset('bundles/tomsite/images/images/') }}slider/6.jpg');">
                            <a class="link" href="#">
                                <header class="naglowek">
                                    <h3 class="tytul">Test</h3>
                                </header>
                            </a>
                        </article>
                    </div>
                    <div class="col-md-4 col-lg-4 kolumna">
                        <article class="kafelka kafelkaSrednia margin-bottom-30" style="background-image: url('{{ asset('bundles/tomsite/images/images/') }}slider/6.jpg');">
                            <a class="link" href="#">
                                <header class="naglowek">
                                    <h3 class="tytul">Test</h3>
                                </header>
                            </a>
                        </article>
                        <article class="kafelka kafelkaNajnizsza" style="background-image: url('{{ asset('bundles/tomsite/images/images/') }}slider/6.jpg');">
                            <a class="link" href="#">
                                <header class="naglowek">
                                    <h3 class="tytul">Test</h3>
                                </header>
                            </a>
                        </article>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}


{% block mainContent %}

    <div class="col-lg-8">
        {% import 'TomSiteBundle:Macros:articlesList.html.twig' as spolecznieArticleList %}
        {{ spolecznieArticleList.tilesTwoThreeColumn('Społecznie', articlesListModule('7', '5').articles) }}

        <hr>

        {% import 'TomSiteBundle:Macros:articlesList.html.twig' as stylzyciaArticleList %}
        {{ stylzyciaArticleList.treeList('Styl życia', articlesListModule('6', '6').articles) }}

        <hr>

        {% import 'TomSiteBundle:Macros:articlesList.html.twig' as hobbyArticleList %}
        {{ hobbyArticleList.tilesThreeColumn('Hobby', articlesListModule('5', '3').articles) }}

    </div>

{% endblock %}

{% block mainSidebarRight %}
    {{ parent() }}

    <div class="tabs">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active"><a href="#popular" aria-controls="popular" role="tab" data-toggle="tab">POPULAR</a></li>
                <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">COMMENTS</a></li>
                <li role="presentation"><a href="#tags" aria-controls="tags" role="tab" data-toggle="tab">TAGS</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- POPULAR STARTS -->
                <div role="tabpanel" class="tab-pane active" id="popular">
                    <ul class="tabs-posts">
                        <li>
                            <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/1.jpg" class="img-responsive" alt="" ></div>
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption"><a href="#">Aenean ultricies mi vitae est. Mauris placerat eleifend leosit amet est.</a></div>
                        </li>
                        <li>
                            <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/2.jpg" class="img-responsive" alt="" ></div>
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                        </li>
                        <li>
                            <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/3.jpg" class="img-responsive" alt="" ></div>
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                        </li>
                        <li>
                            <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/4.jpg" class="img-responsive" alt="" ></div>
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                        </li>
                        <li>
                            <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/5.jpg" class="img-responsive" alt="" ></div>
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                        </li>
                    </ul>
                </div>

                <div role="tabpanel" class="tab-pane" id="comments">
                    <ul class="tabs-posts">
                        <li>
                            <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/6.jpg" class="img-responsive" alt="" ></div>
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption"><a href="#">Aenean ultricies mi vitae est. Mauris placerat eleifend leosit amet est.</a></div>
                        </li>
                        <li>
                            <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/7.jpg" class="img-responsive" alt="" ></div>
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                        </li>
                        <li>
                            <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/8.jpg" class="img-responsive" alt="" ></div>
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                        </li>
                    </ul>
                </div>

                <div role="tabpanel" class="tab-pane" id="tags">
                    <div class="tag-list">                                            
                        <a href="#" >design</a> 
                        <a href="#" >graphics</a>
                        <a href="#" >photography</a>
                        <a href="#" >html5</a>
                        <a href="#" >wordpress</a>
                        <a href="#" >onepage</a>
                        <a href="#" >design</a> 
                        <a href="#" >graphics</a>
                        <a href="#" >photography</a>
                        <a href="#" >html5</a>
                        <a href="#" >wordpress</a>
                        <a href="#" >onepage</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="featured-video">
        <div class="row category-caption">
            <div class="col-lg-12">
                <h2 class="pull-left">FEATURED VIDEOS</h2>
            </div>
        </div>
        <div class="featured-video-carousel">

            <div>
                <div class="picture">
                    <div class="category-image">
                        <img src="{{ asset('bundles/tomsite/images/images/') }}featured-videos/1.jpg" class="img-responsive" alt="" >
                        <div class="bg">&nbsp;</div>
                        <h2 class="overlay-category">FASHION</h2>
                        <div class="play-button"><a href="#"><img src="{{ asset('bundles/tomsite/images/images/') }}icons/video-icon.png" width="40" height="40" alt="" ></a></div>
                    </div>
                </div>
                <div class="detail">
                    <div class="caption"><a href="#">Pellentesque habitant morbi</a></div>
                    <div class="info">
                        <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                        <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                        <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                    </div>
                </div>
            </div>

            <div>
                <div class="picture">
                    <div class="category-image">
                        <img src="{{ asset('bundles/tomsite/images/images/') }}featured-videos/2.jpg" class="img-responsive" alt="" >
                        <div class="bg">&nbsp;</div>
                        <h2 class="overlay-category">FASHION</h2>
                        <div class="play-button"><a href="#"><img src="{{ asset('bundles/tomsite/images/images/') }}icons/video-icon.png" width="40" height="40" alt="" ></a></div>
                    </div>
                </div>
                <div class="detail">
                    <div class="caption"><a href="#">Pellentesque habitant morbi</a></div>
                    <div class="info">
                        <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                        <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                        <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                    </div>
                </div>
            </div>

            <div>
                <div class="picture">
                    <div class="category-image">
                        <img src="{{ asset('bundles/tomsite/images/images/') }}featured-videos/3.jpg" class="img-responsive" alt="" >
                        <div class="bg">&nbsp;</div>
                        <h2 class="overlay-category">FASHION</h2>
                        <div class="play-button"><a href="#"><img src="{{ asset('bundles/tomsite/images/images/') }}icons/video-icon.png" width="40" height="40" alt="" ></a></div>
                    </div>
                </div>
                <div class="detail">
                    <div class="caption"><a href="#">Pellentesque habitant morbi</a></div>
                    <div class="info">
                        <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                        <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                        <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="featured-authors">
        <div class="row category-caption">
            <div class="col-lg-12">
                <h2 class="pull-left">FEATURED AUTHORS</h2>
                <span class="pull-right"><a href="authors.html"><i class="fa fa-plus"></i></a></span>
            </div>
        </div>
        <ul>
            <li><a href="author-page.html"><img src="{{ asset('bundles/tomsite/images/images/') }}featured-authors/1.jpg" width="70" height="70" alt="" ></a></li>
            <li><a href="author-page.html"><img src="{{ asset('bundles/tomsite/images/images/') }}featured-authors/2.jpg" width="70" height="70" alt="" ></a></li>
            <li><a href="author-page.html"><img src="{{ asset('bundles/tomsite/images/images/') }}featured-authors/3.jpg" width="70" height="70" alt="" ></a></li>
            <li><a href="author-page.html"><img src="{{ asset('bundles/tomsite/images/images/') }}featured-authors/4.jpg" width="70" height="70" alt="" ></a></li>
            <li><a href="author-page.html"><img src="{{ asset('bundles/tomsite/images/images/') }}featured-authors/5.jpg" width="70" height="70" alt="" ></a></li>
            <li><a href="author-page.html"><img src="{{ asset('bundles/tomsite/images/images/') }}featured-authors/6.jpg" width="70" height="70" alt="" ></a></li>
            <li><a href="author-page.html"><img src="{{ asset('bundles/tomsite/images/images/') }}featured-authors/7.jpg" width="70" height="70" alt="" ></a></li>
            <li><a href="author-page.html"><img src="{{ asset('bundles/tomsite/images/images/') }}featured-authors/3.jpg" width="70" height="70" alt="" ></a></li>
            <li><a href="author-page.html"><img src="{{ asset('bundles/tomsite/images/images/') }}featured-authors/1.jpg" width="70" height="70" alt="" ></a></li>
            <li><a href="author-page.html"><img src="{{ asset('bundles/tomsite/images/images/') }}featured-authors/4.jpg" width="70" height="70" alt="" ></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>



{% endblock %}

{% block bottomContent %}
{#    <section class="editor-picks">
        <div class="container">
            <div class="row category-caption">
                <div class="col-lg-12">
                    <h2 class="pull-left">EDITOR'S PICKS</h2>
                    <span class="pull-right"><a href="editors-picks.html"><i class="fa fa-plus"></i></a></span>
                </div>
            </div>
            <div class="row">
                <!-- ARTICLE STARTS -->
                <article class="col-lg-3 col-md-6">
                    <div class="picture">
                        <div class="category-image">
                            <img src="{{ asset('bundles/tomsite/images/images/') }}fashion/1.jpg" class="img-responsive" alt="" >
                            <h2 class="overlay-category">FASHION</h2>
                            <div class="play-icon"><img src="{{ asset('bundles/tomsite/images/images/') }}icons/video-icon.png" width="40" height="40" alt="" ></div>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="info">
                            <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                            <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                            <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                        </div>
                        <div class="caption">Morbi tristique senectus et netus et</div>
                        <div class="author">
                            <div class="pic">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                <span class="name"><a href="#">JOHN DOE</a></span> 
                                <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="col-lg-3 col-md-6">
                    <div class="picture">
                        <div class="category-image">
                            <img src="{{ asset('bundles/tomsite/images/images/') }}sports/1.jpg" class="img-responsive" alt="" >
                            <h2 class="overlay-category">SPORTS</h2>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="info">
                            <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                            <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                            <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                        </div>
                        <div class="caption">Habitant morbi tristique senectus et netus et</div>
                        <div class="author">
                            <div class="pic">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                <span class="name"><a href="#">JOHN DOE</a></span> 
                                <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="col-lg-3 col-md-6">
                    <div class="picture">
                        <div class="category-image">
                            <img src="{{ asset('bundles/tomsite/images/images/') }}photography/2.jpg" class="img-responsive" alt="" >
                            <h2 class="overlay-category">PHOTOGRAPHY</h2>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="info">
                            <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                            <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                            <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                        </div>
                        <div class="caption">Pellentesque habitant morbi tristique senectus</div>
                        <div class="author">
                            <div class="pic">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                <span class="name"><a href="#">JOHN DOE</a></span> 
                                <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="col-lg-3 col-md-6">
                    <div class="picture">
                        <div class="category-image">
                            <img src="{{ asset('bundles/tomsite/images/images/') }}food/2.jpg" class="img-responsive" alt="" >
                            <h2 class="overlay-category">FOOD</h2>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="info">
                            <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                            <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                            <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                        </div>
                        <div class="caption">Pellentesque habitant morbi tristique senectus</div>
                        <div class="author">
                            <div class="pic">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                <span class="name"><a href="#">JOHN DOE</a></span> 
                                <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </section>#}

{#    <section class="latest-articles">
        <div class="container">
            <div class="row category-caption">
                <div class="col-lg-12">
                    <h2 class="pull-left">LATEST ARTICLES</h2>
                    <span class="pull-right"><a href="latest-articles.html"><i class="fa fa-plus"></i></a></span>
                </div>
            </div>
            <div class="row">
                <!-- ARTICLE STARTS -->
                <article class="col-lg-4 col-md-4">
                    <div class="picture">
                        <div class="category-image">
                            <img src="{{ asset('bundles/tomsite/images/images/') }}fashion/3.jpg" class="img-responsive" alt="" >
                            <h2 class="overlay-category">FASHION</h2>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="info">
                            <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                            <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                            <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                        </div>
                        <div class="caption">Morbi tristique senectus et netus et</div>
                        <div class="author">
                            <div class="pic">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                <span class="name"><a href="#">JOHN DOE</a></span> 
                                <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="col-lg-4 col-md-4">
                    <div class="picture">
                        <div class="category-image">
                            <img src="{{ asset('bundles/tomsite/images/images/') }}photography/1.jpg" class="img-responsive" alt="" >
                            <h2 class="overlay-category">PHOTOGRAPHY</h2>
                            <div class="play-icon"><img src="{{ asset('bundles/tomsite/images/images/') }}icons/video-icon.png" width="40" height="40" alt="" ></div>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="info">
                            <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                            <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                            <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                        </div>
                        <div class="caption">Habitant morbi tristique senectus et netus et</div>
                        <div class="author">
                            <div class="pic">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                <span class="name"><a href="#">JOHN DOE</a></span> 
                                <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="col-lg-4 col-md-4">
                    <div class="picture">
                        <div class="category-image">
                            <img src="{{ asset('bundles/tomsite/images/images/') }}food/2.jpg" class="img-responsive" alt="" >
                            <h2 class="overlay-category">FOOD</h2>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="info">
                            <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                            <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                            <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                        </div>
                        <div class="caption">Pellentesque habitant morbi tristique senectus</div>
                        <div class="author">
                            <div class="pic">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                <span class="name"><a href="#">JOHN DOE</a></span> 
                                <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="col-lg-4 col-md-4">
                    <div class="picture">
                        <div class="category-image">
                            <img src="{{ asset('bundles/tomsite/images/images/') }}tech/1.jpg" class="img-responsive" alt="" >
                            <h2 class="overlay-category">TECH</h2>
                            <div class="play-icon"><img src="{{ asset('bundles/tomsite/images/images/') }}icons/video-icon.png" width="40" height="40" alt="" ></div>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="info">
                            <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                            <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                            <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                        </div>
                        <div class="caption">Morbi tristique senectus et netus et</div>
                        <div class="author">
                            <div class="pic">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                <span class="name"><a href="#">JOHN DOE</a></span> 
                                <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="col-lg-4 col-md-4">
                    <div class="picture">
                        <div class="category-image">
                            <img src="{{ asset('bundles/tomsite/images/images/') }}sports/1.jpg" class="img-responsive" alt="" >
                            <h2 class="overlay-category">SPORTS</h2>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="info">
                            <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                            <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                            <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                        </div>
                        <div class="caption">Habitant morbi tristique senectus et netus et</div>
                        <div class="author">
                            <div class="pic">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                <span class="name"><a href="#">JOHN DOE</a></span> 
                                <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="col-lg-4 col-md-4">
                    <div class="picture">
                        <div class="category-image">
                            <img src="{{ asset('bundles/tomsite/images/images/') }}life-style/1.jpg" class="img-responsive" alt="" >
                            <h2 class="overlay-category">LIFE STYLE</h2>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="info">
                            <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                            <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                            <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                        </div>
                        <div class="caption">Pellentesque habitant morbi tristique senectus</div>
                        <div class="author">
                            <div class="pic">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                <span class="name"><a href="#">JOHN DOE</a></span> 
                                <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="col-lg-4 col-md-4">
                    <div class="picture">
                        <div class="category-image">
                            <img src="{{ asset('bundles/tomsite/images/images/') }}fashion/5.jpg" class="img-responsive" alt="" >
                            <h2 class="overlay-category">FASHION</h2>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="info">
                            <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                            <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                            <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                        </div>
                        <div class="caption">Morbi tristique senectus et netus et</div>
                        <div class="author">
                            <div class="pic">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                <span class="name"><a href="#">JOHN DOE</a></span> 
                                <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="col-lg-4 col-md-4">
                    <div class="picture">
                        <div class="category-image">
                            <img src="{{ asset('bundles/tomsite/images/images/') }}life-style/3.jpg" class="img-responsive" alt="" >
                            <h2 class="overlay-category">LIFE STYLE</h2>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="info">
                            <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                            <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                            <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                        </div>
                        <div class="caption">Habitant morbi tristique senectus et netus et</div>
                        <div class="author">
                            <div class="pic">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                <span class="name"><a href="#">JOHN DOE</a></span> 
                                <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="col-lg-4 col-md-4">
                    <div class="picture">
                        <div class="category-image">
                            <img src="{{ asset('bundles/tomsite/images/images/') }}food/1.jpg" class="img-responsive" alt="" >
                            <h2 class="overlay-category">FASHION</h2>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="info">
                            <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                            <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                            <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                        </div>
                        <div class="caption">Pellentesque habitant morbi tristique senectus</div>
                        <div class="author">
                            <div class="pic">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                <span class="name"><a href="#">JOHN DOE</a></span> 
                                <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </article>

            </div>

            <div class="row pagging">
                <div class="col-lg-12 col-md-12">
                    <ul class="pagination pagination-lg">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>#}
{% endblock %}

{% block javascripts %}
  <!--  <script>
        $(window).scroll(function(){
    $("#newsletter-block").css("top",Math.max(100,1850-$(this).scrollTop()));
});
        </script> -->
    {{parent()}}
{% endblock %}