{% extends "TomSiteBundle::base.html.twig" %}

{% block pageTitle %}{{ parent() }}{% endblock %}
{% block ogTitle %}{{ parent() }}{% endblock %}
{% block ogImage %}{% endblock %}
{% block metaDescription %}{% endblock %}
{% block ogDescription %}{% endblock %}
{% block metaKeywords %}{% endblock %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block pageContainer %}
    <section class="breaking-news">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-md-1">
                    <h2 class="title">News</h2>
                </div>
                <div class="col-lg-11 col-md-11">
                    <div class="newsticker">
                        <div><a href="#">Senectus et netus et malesuada Pellentesque habitant morbi senectus et netus et malesuada</a></div>
                        <div><a href="#">Pellentesque habitant morbi senectus et netus et malesuada et netus et malesuada netus et</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row slider">
                <!-- Slide 1 Starts -->
                <div>
                    <!-- Column 1 Starts -->
                    <div class="col-lg-8">
                        <div class="pic-with-overlay">
                            <img src="{{ asset('bundles/tomsite/images/images/') }}slider/6.jpg" class="img-responsive" alt="" >
                            <div class="bg">&nbsp;</div>
                            <div><span class="category">LIFE STYLE</span></div>
                            <h1><a href="#">Pellentesque habitant morbi senectus et netus et malesuada</a></h1>
                            <div class="author">by Janny Doe</div>
                        </div>
                    </div>
                    <!-- Column 1 Ends -->
                    <!-- Column 2 Starts -->
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pic-with-overlay-2">
                                    <img src="{{ asset('bundles/tomsite/images/images/') }}slider/7.jpg" class="img-responsive" alt="" >
                                    <div class="bg">&nbsp;</div>
                                    <div><span class="category">PHOTOGRAPHY</span></div>
                                    <h1><a href="#">Netus et malesuada</a></h1>
                                    <div class="author">by Janny Doe</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="pic-with-overlay-2">
                                    <img src="{{ asset('bundles/tomsite/images/images/') }}slider/5.jpg" class="img-responsive" alt="" >
                                    <div class="bg">&nbsp;</div>
                                    <div><span class="category">SPORTS</span></div>
                                    <h1><a href="#">Morbi senectus</a></h1>
                                    <div class="author">by Janny Doe</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column 2 Ends -->
                </div>
                <!-- Slide 1 Ends -->
                <!-- Slide 2 Starts -->
                <div>
                    <!-- Column 1 Starts -->
                    <div class="col-lg-8">
                        <div class="pic-with-overlay">
                            <img src="{{ asset('bundles/tomsite/images/images/') }}slider/2.jpg" class="img-responsive" alt="" >
                            <div class="bg">&nbsp;</div>
                            <div><span class="category">FASHION 2014</span></div>
                            <h1><a href="#">Pellentesque habitant morbi senectus et netus et malesuada</a></h1>
                            <div class="author">by Janny Doe</div>
                        </div>
                    </div>
                    <!-- Column 1 Ends -->
                    <!-- Column 2 Starts -->
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pic-with-overlay-2">
                                    <img src="{{ asset('bundles/tomsite/images/images/') }}slider/3.jpg" class="img-responsive" alt="" >
                                    <div class="bg">&nbsp;</div>
                                    <div><span class="category">CATWALK</span></div>
                                    <h1><a href="#">Netus et malesuada</a></h1>
                                    <div class="author">by Janny Doe</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="pic-with-overlay-2">
                                    <img src="{{ asset('bundles/tomsite/images/images/') }}slider/4.jpg" class="img-responsive" alt="" >
                                    <div class="bg">&nbsp;</div>
                                    <div><span class="category">TECH</span></div>
                                    <h1><a href="#">Morbi senectus</a></h1>
                                    <div class="author">by Janny Doe</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column 2 Ends -->
                </div>
                <!-- Slide 2 Ends -->
            </div>
        </div>
    </section>
    <!-- /. SLIDER ENDS
            ========================================================================= --> 
    <!-- PAGE CONTENTS STARTS
            ========================================================================= -->
    <section class="page-contents">
        <div class="container">
            <div class="row">
                <!-- LEFT COLUMN STARTS
                        ========================================================================= -->
                <div class="col-lg-8">
                    {% import 'TomSiteBundle:Macros:articlesList.html.twig' as spolecznieArticleList %}
                    {{ spolecznieArticleList.tilesTwoThreeColumn('Społecznie', articlesListModule('7', '5').articles) }}
                    
                    <hr>
                    
                    {% import 'TomSiteBundle:Macros:articlesList.html.twig' as stylzyciaArticleList %}
                    {{ stylzyciaArticleList.treeList('Styl życia', articlesListModule('6', '6').articles) }}
                    
                    <hr>

                    {% import 'TomSiteBundle:Macros:articlesList.html.twig' as hobbyArticleList %}
                    {{ hobbyArticleList.tilesThreeColumn('Hobby', articlesListModule('5', '3').articles) }}

                </div>
                <!-- /. LEFT COLUMN ENDS
                        ========================================================================= --> 
                <!-- RIGHT COLUMN STARTS
                        ========================================================================= -->
                <div class="col-lg-4">
                    <!-- JOIN US STARTS -->
                    <div class="join-us">
                        <div class="row category-caption">
                            <div class="col-lg-12">
                                <h2 class="pull-left">FOLLOW US</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul>
                                    <li class="facebook">
                                        <div class="icon"><a href="#"><i class="fa fa-facebook"></i></a></div>
                                    </li>
                                    <li class="twitter">
                                        <div class="icon"><a href="#"><i class="fa fa-twitter"></i></a></div>
                                    </li>
                                    <li class="linkedin">
                                        <div class="icon"><a href="#"><i class="fa fa-linkedin"></i></a></div>
                                    </li>
                                    <li class="dribbble">
                                        <div class="icon"><a href="#"><i class="fa fa-dribbble"></i></a></div>
                                    </li>
                                    <li class="facebook">
                                        <div class="icon"><a href="#"><i class="fa fa-facebook"></i></a></div>
                                    </li>
                                    <li class="twitter">
                                        <div class="icon"><a href="#"><i class="fa fa-twitter"></i></a></div>
                                    </li>
                                    <li class="linkedin">
                                        <div class="icon"><a href="#"><i class="fa fa-linkedin"></i></a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- JOIN US ENDS -->
                    <!-- TABS STARTS -->
                    <div class="tabs">
                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                <li role="presentation" class="active"><a href="#popular" aria-controls="popular" role="tab" data-toggle="tab">POPULAR</a></li>
                                <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">COMMENTS</a></li>
                                <li role="presentation"><a href="#tags" aria-controls="tags" role="tab" data-toggle="tab">TAGS</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- POPULAR STARTS -->
                                <div role="tabpanel" class="tab-pane active" id="popular">
                                    <ul class="tabs-posts">
                                        <li>
                                            <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/1.jpg" class="img-responsive" alt="" ></div>
                                            <div class="info">
                                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                                            </div>
                                            <div class="caption"><a href="#">Aenean ultricies mi vitae est. Mauris placerat eleifend leosit amet est.</a></div>
                                        </li>
                                        <li>
                                            <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/2.jpg" class="img-responsive" alt="" ></div>
                                            <div class="info">
                                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                                            </div>
                                            <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                                        </li>
                                        <li>
                                            <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/3.jpg" class="img-responsive" alt="" ></div>
                                            <div class="info">
                                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                                            </div>
                                            <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                                        </li>
                                        <li>
                                            <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/4.jpg" class="img-responsive" alt="" ></div>
                                            <div class="info">
                                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                                            </div>
                                            <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                                        </li>
                                        <li>
                                            <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/5.jpg" class="img-responsive" alt="" ></div>
                                            <div class="info">
                                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                                            </div>
                                            <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- POPULAR ENDS -->
                                <!-- COMENTS STARTS -->
                                <div role="tabpanel" class="tab-pane" id="comments">
                                    <ul class="tabs-posts">
                                        <li>
                                            <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/6.jpg" class="img-responsive" alt="" ></div>
                                            <div class="info">
                                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                                            </div>
                                            <div class="caption"><a href="#">Aenean ultricies mi vitae est. Mauris placerat eleifend leosit amet est.</a></div>
                                        </li>
                                        <li>
                                            <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/7.jpg" class="img-responsive" alt="" ></div>
                                            <div class="info">
                                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                                            </div>
                                            <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                                        </li>
                                        <li>
                                            <div class="pic"><img src="{{ asset('bundles/tomsite/images/images/') }}footer/recent-posts/8.jpg" class="img-responsive" alt="" ></div>
                                            <div class="info">
                                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                                            </div>
                                            <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- COMENTS ENDS -->
                                <!-- TAG STARTS -->
                                <div role="tabpanel" class="tab-pane" id="tags">
                                    <div class="tag-list">                                            
                                        <a href="#" >design</a> 
                                        <a href="#" >graphics</a>
                                        <a href="#" >photography</a>
                                        <a href="#" >html5</a>
                                        <a href="#" >wordpress</a>
                                        <a href="#" >onepage</a>
                                        <a href="#" >design</a> 
                                        <a href="#" >graphics</a>
                                        <a href="#" >photography</a>
                                        <a href="#" >html5</a>
                                        <a href="#" >wordpress</a>
                                        <a href="#" >onepage</a>
                                    </div>
                                </div>
                                <!-- TAGS STARTS -->
                            </div>
                        </div>
                    </div>
                    <!-- TABS ENDS -->
                    <!-- ADVERTISEMENT 300 X 250 STARTS -->
                    <div class="ad-300x250">							
                        <img src="{{ asset('bundles/tomsite/images/images/') }}ads/3d_300x250_v2.gif" width="300" height="250" alt="" >
                    </div>
                    <!-- ADVERTISEMENT 300 X 250 ENDS -->
                    <!-- FEATURED VIDEOS STARTS -->
                    <div class="featured-video">
                        <div class="row category-caption">
                            <div class="col-lg-12">
                                <h2 class="pull-left">FEATURED VIDEOS</h2>
                            </div>
                        </div>
                        <div class="featured-video-carousel">
                            <!-- SLIDE 1 STARTS -->
                            <div>
                                <div class="picture">
                                    <div class="category-image">
                                        <img src="{{ asset('bundles/tomsite/images/images/') }}featured-videos/1.jpg" class="img-responsive" alt="" >
                                        <div class="bg">&nbsp;</div>
                                        <h2 class="overlay-category">FASHION</h2>
                                        <div class="play-button"><a href="#"><img src="{{ asset('bundles/tomsite/images/images/') }}icons/video-icon.png" width="40" height="40" alt="" ></a></div>
                                    </div>
                                </div>
                                <div class="detail">
                                    <div class="caption"><a href="#">Pellentesque habitant morbi</a></div>
                                    <div class="info">
                                        <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                        <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                        <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                                    </div>
                                </div>
                            </div>
                            <!-- SLIDE 1 ENDS -->
                            <!-- SLIDE 2 STARTS -->
                            <div>
                                <div class="picture">
                                    <div class="category-image">
                                        <img src="{{ asset('bundles/tomsite/images/images/') }}featured-videos/2.jpg" class="img-responsive" alt="" >
                                        <div class="bg">&nbsp;</div>
                                        <h2 class="overlay-category">FASHION</h2>
                                        <div class="play-button"><a href="#"><img src="{{ asset('bundles/tomsite/images/images/') }}icons/video-icon.png" width="40" height="40" alt="" ></a></div>
                                    </div>
                                </div>
                                <div class="detail">
                                    <div class="caption"><a href="#">Pellentesque habitant morbi</a></div>
                                    <div class="info">
                                        <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                        <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                        <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                                    </div>
                                </div>
                            </div>
                            <!-- SLIDE 2 ENDS -->
                            <!-- SLIDE 3 STARTS -->
                            <div>
                                <div class="picture">
                                    <div class="category-image">
                                        <img src="{{ asset('bundles/tomsite/images/images/') }}featured-videos/3.jpg" class="img-responsive" alt="" >
                                        <div class="bg">&nbsp;</div>
                                        <h2 class="overlay-category">FASHION</h2>
                                        <div class="play-button"><a href="#"><img src="{{ asset('bundles/tomsite/images/images/') }}icons/video-icon.png" width="40" height="40" alt="" ></a></div>
                                    </div>
                                </div>
                                <div class="detail">
                                    <div class="caption"><a href="#">Pellentesque habitant morbi</a></div>
                                    <div class="info">
                                        <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                        <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                        <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                                    </div>
                                </div>
                            </div>
                            <!-- SLIDE 3 ENDS -->
                        </div>
                    </div>
                    <!-- FEATURED VIDEOS ENDS -->
                    <!-- FEATURED AUTHORS STARTS -->
                    <div class="featured-authors">
                        <div class="row category-caption">
                            <div class="col-lg-12">
                                <h2 class="pull-left">FEATURED AUTHORS</h2>
                                <span class="pull-right"><a href="authors.html"><i class="fa fa-plus"></i></a></span>
                            </div>
                        </div>
                        <ul>
                            <li><a href="author-page.html"><img src="{{ asset('bundles/tomsite/images/images/') }}featured-authors/1.jpg" width="70" height="70" alt="" ></a></li>
                            <li><a href="author-page.html"><img src="{{ asset('bundles/tomsite/images/images/') }}featured-authors/2.jpg" width="70" height="70" alt="" ></a></li>
                            <li><a href="author-page.html"><img src="{{ asset('bundles/tomsite/images/images/') }}featured-authors/3.jpg" width="70" height="70" alt="" ></a></li>
                            <li><a href="author-page.html"><img src="{{ asset('bundles/tomsite/images/images/') }}featured-authors/4.jpg" width="70" height="70" alt="" ></a></li>
                            <li><a href="author-page.html"><img src="{{ asset('bundles/tomsite/images/images/') }}featured-authors/5.jpg" width="70" height="70" alt="" ></a></li>
                            <li><a href="author-page.html"><img src="{{ asset('bundles/tomsite/images/images/') }}featured-authors/6.jpg" width="70" height="70" alt="" ></a></li>
                            <li><a href="author-page.html"><img src="{{ asset('bundles/tomsite/images/images/') }}featured-authors/7.jpg" width="70" height="70" alt="" ></a></li>
                            <li><a href="author-page.html"><img src="{{ asset('bundles/tomsite/images/images/') }}featured-authors/3.jpg" width="70" height="70" alt="" ></a></li>
                            <li><a href="author-page.html"><img src="{{ asset('bundles/tomsite/images/images/') }}featured-authors/1.jpg" width="70" height="70" alt="" ></a></li>
                            <li><a href="author-page.html"><img src="{{ asset('bundles/tomsite/images/images/') }}featured-authors/4.jpg" width="70" height="70" alt="" ></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- FEATURED AUTHORS ENDS -->
                    <!-- JOIN NEWSLETTER STARTS -->
                    <div class="newsletter-block">
                        <div class="row category-caption">
                            <div class="col-lg-12">
                                <h2 class="pull-left">JOIN OUR NEWSLETTER</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12"><input name="" type="text" placeholder="Email Address"></div>
                            <div class="col-lg-6"><input name="" type="text" placeholder="First Name"></div>
                            <div class="col-lg-6"><input name="" type="text" placeholder="Last Name"></div>
                            <div class="col-lg-12"><input type="button" value="SUBSCRIBE"></div>
                        </div>
                    </div>
                    <!-- JOIN NEWSLETTER ENDS -->
                    <!-- ADVERTISEMENT 125 x 125 STARTS -->
                    <div class="ad-125x125">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img src="{{ asset('bundles/tomsite/images/images/') }}ads/125x125/1.jpg" width="125" height="125" alt=""></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img src="{{ asset('bundles/tomsite/images/images/') }}ads/125x125/2.jpg" width="125" height="125" alt=""></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img src="{{ asset('bundles/tomsite/images/images/') }}ads/125x125/3.jpg" width="125" height="125" alt=""></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img src="{{ asset('bundles/tomsite/images/images/') }}ads/125x125/5.gif" width="125" height="125" alt=""></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img src="{{ asset('bundles/tomsite/images/images/') }}ads/125x125/4.jpg" width="125" height="125" alt=""></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img src="{{ asset('bundles/tomsite/images/images/') }}ads/125x125/6.gif" width="125" height="125" alt=""></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img src="{{ asset('bundles/tomsite/images/images/') }}ads/125x125/2.jpg" width="125" height="125" alt=""></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img src="{{ asset('bundles/tomsite/images/images/') }}ads/125x125/3.jpg" width="125" height="125" alt=""></div>
                        </div>
                    </div>
                    <!-- ADVERTISEMENT 300 X 250 ENDS -->
                </div>
                <!-- /. RIGHT COLUMN ENDS
                        ========================================================================= --> 
            </div>
        </div>
        <!-- EDITORIAL PICKS STARTS
                ========================================================================= -->
        <section class="editor-picks">
            <div class="container">
                <div class="row category-caption">
                    <div class="col-lg-12">
                        <h2 class="pull-left">EDITOR'S PICKS</h2>
                        <span class="pull-right"><a href="editors-picks.html"><i class="fa fa-plus"></i></a></span>
                    </div>
                </div>
                <div class="row">
                    <!-- ARTICLE STARTS -->
                    <article class="col-lg-3 col-md-6">
                        <div class="picture">
                            <div class="category-image">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}fashion/1.jpg" class="img-responsive" alt="" >
                                <h2 class="overlay-category">FASHION</h2>
                                <div class="play-icon"><img src="{{ asset('bundles/tomsite/images/images/') }}icons/video-icon.png" width="40" height="40" alt="" ></div>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption">Morbi tristique senectus et netus et</div>
                            <div class="author">
                                <div class="pic">
                                    <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                    <span class="name"><a href="#">JOHN DOE</a></span> 
                                    <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- ARTICLE ENDS -->
                    <!-- ARTICLE STARTS -->
                    <article class="col-lg-3 col-md-6">
                        <div class="picture">
                            <div class="category-image">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}sports/1.jpg" class="img-responsive" alt="" >
                                <h2 class="overlay-category">SPORTS</h2>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption">Habitant morbi tristique senectus et netus et</div>
                            <div class="author">
                                <div class="pic">
                                    <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                    <span class="name"><a href="#">JOHN DOE</a></span> 
                                    <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- ARTICLE ENDS -->
                    <!-- ARTICLE STARTS -->
                    <article class="col-lg-3 col-md-6">
                        <div class="picture">
                            <div class="category-image">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}photography/2.jpg" class="img-responsive" alt="" >
                                <h2 class="overlay-category">PHOTOGRAPHY</h2>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption">Pellentesque habitant morbi tristique senectus</div>
                            <div class="author">
                                <div class="pic">
                                    <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                    <span class="name"><a href="#">JOHN DOE</a></span> 
                                    <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- ARTICLE ENDS -->
                    <!-- ARTICLE STARTS -->
                    <article class="col-lg-3 col-md-6">
                        <div class="picture">
                            <div class="category-image">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}food/2.jpg" class="img-responsive" alt="" >
                                <h2 class="overlay-category">FOOD</h2>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption">Pellentesque habitant morbi tristique senectus</div>
                            <div class="author">
                                <div class="pic">
                                    <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                    <span class="name"><a href="#">JOHN DOE</a></span> 
                                    <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- ARTICLE ENDS -->
                </div>
            </div>
        </section>
        <!-- /. EDITORIAL PICKS ENDS
                ========================================================================= -->
        <!-- LATEST ARTICLES STARTS
                ========================================================================= -->  
        <section class="latest-articles">
            <div class="container">
                <div class="row category-caption">
                    <div class="col-lg-12">
                        <h2 class="pull-left">LATEST ARTICLES</h2>
                        <span class="pull-right"><a href="latest-articles.html"><i class="fa fa-plus"></i></a></span>
                    </div>
                </div>
                <div class="row">
                    <!-- ARTICLE STARTS -->
                    <article class="col-lg-4 col-md-4">
                        <div class="picture">
                            <div class="category-image">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}fashion/3.jpg" class="img-responsive" alt="" >
                                <h2 class="overlay-category">FASHION</h2>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption">Morbi tristique senectus et netus et</div>
                            <div class="author">
                                <div class="pic">
                                    <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                    <span class="name"><a href="#">JOHN DOE</a></span> 
                                    <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- ARTICLE ENDS -->
                    <!-- ARTICLE STARTS -->
                    <article class="col-lg-4 col-md-4">
                        <div class="picture">
                            <div class="category-image">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}photography/1.jpg" class="img-responsive" alt="" >
                                <h2 class="overlay-category">PHOTOGRAPHY</h2>
                                <div class="play-icon"><img src="{{ asset('bundles/tomsite/images/images/') }}icons/video-icon.png" width="40" height="40" alt="" ></div>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption">Habitant morbi tristique senectus et netus et</div>
                            <div class="author">
                                <div class="pic">
                                    <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                    <span class="name"><a href="#">JOHN DOE</a></span> 
                                    <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- ARTICLE ENDS -->
                    <!-- ARTICLE STARTS -->
                    <article class="col-lg-4 col-md-4">
                        <div class="picture">
                            <div class="category-image">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}food/2.jpg" class="img-responsive" alt="" >
                                <h2 class="overlay-category">FOOD</h2>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption">Pellentesque habitant morbi tristique senectus</div>
                            <div class="author">
                                <div class="pic">
                                    <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                    <span class="name"><a href="#">JOHN DOE</a></span> 
                                    <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- ARTICLE ENDS -->
                    <!-- ARTICLE STARTS -->
                    <article class="col-lg-4 col-md-4">
                        <div class="picture">
                            <div class="category-image">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}tech/1.jpg" class="img-responsive" alt="" >
                                <h2 class="overlay-category">TECH</h2>
                                <div class="play-icon"><img src="{{ asset('bundles/tomsite/images/images/') }}icons/video-icon.png" width="40" height="40" alt="" ></div>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption">Morbi tristique senectus et netus et</div>
                            <div class="author">
                                <div class="pic">
                                    <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                    <span class="name"><a href="#">JOHN DOE</a></span> 
                                    <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- ARTICLE ENDS -->
                    <!-- ARTICLE STARTS -->
                    <article class="col-lg-4 col-md-4">
                        <div class="picture">
                            <div class="category-image">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}sports/1.jpg" class="img-responsive" alt="" >
                                <h2 class="overlay-category">SPORTS</h2>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption">Habitant morbi tristique senectus et netus et</div>
                            <div class="author">
                                <div class="pic">
                                    <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                    <span class="name"><a href="#">JOHN DOE</a></span> 
                                    <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- ARTICLE ENDS -->
                    <!-- ARTICLE STARTS -->
                    <article class="col-lg-4 col-md-4">
                        <div class="picture">
                            <div class="category-image">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}life-style/1.jpg" class="img-responsive" alt="" >
                                <h2 class="overlay-category">LIFE STYLE</h2>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption">Pellentesque habitant morbi tristique senectus</div>
                            <div class="author">
                                <div class="pic">
                                    <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                    <span class="name"><a href="#">JOHN DOE</a></span> 
                                    <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- ARTICLE ENDS -->
                    <!-- ARTICLE STARTS -->
                    <article class="col-lg-4 col-md-4">
                        <div class="picture">
                            <div class="category-image">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}fashion/5.jpg" class="img-responsive" alt="" >
                                <h2 class="overlay-category">FASHION</h2>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption">Morbi tristique senectus et netus et</div>
                            <div class="author">
                                <div class="pic">
                                    <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                    <span class="name"><a href="#">JOHN DOE</a></span> 
                                    <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- ARTICLE ENDS -->
                    <!-- ARTICLE STARTS -->
                    <article class="col-lg-4 col-md-4">
                        <div class="picture">
                            <div class="category-image">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}life-style/3.jpg" class="img-responsive" alt="" >
                                <h2 class="overlay-category">LIFE STYLE</h2>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption">Habitant morbi tristique senectus et netus et</div>
                            <div class="author">
                                <div class="pic">
                                    <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                    <span class="name"><a href="#">JOHN DOE</a></span> 
                                    <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- ARTICLE ENDS -->
                    <!-- ARTICLE STARTS -->
                    <article class="col-lg-4 col-md-4">
                        <div class="picture">
                            <div class="category-image">
                                <img src="{{ asset('bundles/tomsite/images/images/') }}food/1.jpg" class="img-responsive" alt="" >
                                <h2 class="overlay-category">FASHION</h2>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption">Pellentesque habitant morbi tristique senectus</div>
                            <div class="author">
                                <div class="pic">
                                    <img src="{{ asset('bundles/tomsite/images/images/') }}author/small/1.jpg" class="img-circle" alt="" > 
                                    <span class="name"><a href="#">JOHN DOE</a></span> 
                                    <span class="read-article pull-right"><a href="#">MORE <i class="fa fa-angle-right"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- ARTICLE ENDS -->
                </div>
                <!-- PAGGING STARTS -->
                <div class="row pagging">
                    <div class="col-lg-12 col-md-12">
                        <ul class="pagination pagination-lg">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- PAGGING ENDS -->
            </div>
        </section>
        <!-- /. LATEST ARTICLES ENDS
                ========================================================================= -->   
    </section>
    <!-- /. PAGE CONTENTS ENDS
            ========================================================================= -->
{% endblock %}

{% block javascripts %}
    {{parent()}}
{% endblock %}