{% extends "TomAdminBundle::base.html.twig" %}

{% block pageTitle %}{{ pageTitle|striptags }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
{{parent()}}
{% endblock %}

{% block pageContainer %}
<section class="content-header">
  <h1>{{ pageTitle|raw }}</h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>

<section class="content">

    <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header padding-bottom-15">
              <h3 class="box-title">Lista</h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">

                <form action="{{ path('tom_admin_sugestion') }}" method="get" class="form-inline filter-search padding-top-15 padding-bottom-15" role="form">
                    
                    {% for key,val in statusesList %}
                    <div class="col-xs-12 col-md-2 col-lg-2 padding-bottom-15">
                        <a class="btn btn-block {{ currStatus == val ? 'btn-default':'btn-primary' }}" href="{{ path('tom_admin_sugestion', {'status': val}) }}">
                            {{ key }} ({{ statistics[val] }})
                        </a>
                    </div>
                    {% endfor %}

                    <div class="col-xs-6 col-md-2 col-lg-1 padding-bottom-15">
                        <div class="form-group limit">
                               <select name="limit" class="form-control select-block input-md" id="limit" placeholder="Pokaż">
                                   {% for limit in limits %}
                                       <option {{ currLimit == limit ? 'selected="selected"':'' }} value="{{ limit }}">
                                           {{ limit }}
                                       </option>
                                   {% endfor %}
                               </select>
                       </div>
                    </div>


                    <div class="col-xs-12 col-md-2 col-lg-3 padding-bottom-15">
                        <div class="input-group" style="width: 100%;">
                          <input type="text" name="nameSugestion" class="form-control input-md" placeholder="Wyszukaj po tytule" value="{{ queryParams['nameSugestionLike'] }}">
                          <div class="input-group-btn">
                            <button class="btn btn-md btn-block btn-default"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
               </form>

                <table class="table table-hover">
                  <thead>
                      <tr>
                          <th>{{ knp_pagination_sortable(pagination, 'ID', 's.id') }}</th>
                          <th>{{ knp_pagination_sortable(pagination, 'Tytuł', 's.nameSugestion') }}</th>
                          <th>{{ knp_pagination_sortable(pagination, 'Status', 's.readDate') }}</th>
                          <th>{{ knp_pagination_sortable(pagination, 'Data dodania', 's.updateDate') }}</th>
                          <th class="actions">Akcje</th>
                      </tr>
                  </thead>
                  {% for row in pagination %}
                      <tr>
                          <td>{{ row.id }}</td>
                          <td><a href="{{ path('tom_admin_sugestion_form', {'id': row.id}) }}">{{ row.nameSugestion }}</a></td>
                          <td>
                              {% if row.approvedDate is null and row.notapprovedDate is null %}
                                  <span class="label label-warning">Odczytane</span>
                              {% elseif row.readDate is null and row.notapprovedDate is null %}
                                  <span class="label label-success">Zatwierdzone</span>
                              {% elseif row.readDate is null and row.approvedDate is null %}
                                  <span class="label label-danger">Niezatwierdzone</span>
                              {% endif %}
                          </td>
                          <td>{{ row.updateDate|admin_format_date }}</td>
                         
                          <td>
                              <div class="btn-group">
                                  <a href="" class="btn btn-primary">
                                      <span class="glyphicon glyphicon-edit"></span>
                                  </a>

                                  
                              </div>
                          </td>
                      </tr>
                    {% else %}
                    <tr>
                        <td colspan="8" class="text-center"><br />Brak sugestii spełniejących określone warunki.<br /></td>
                    </tr>
                  {% endfor %}
                </table>
                
            </div>
            <div class="box-footer clearfix">
                {{ knp_pagination_render(pagination, 'TomAdminBundle:Pagination:admin_pagination.html.twig') }}
            </div>
          </div>
        </div>
      </div>

</section>
{% endblock %}

{% block javascripts %}
{{parent()}}
{% endblock %}