{% extends "TomSiteBundle::base.html.twig" %}

{% block pageTitle %}{{ parent() }}{% endblock %}
{% block ogTitle %}{{ parent() }}{% endblock %}
{% block ogImage %}{% endblock %}
{% block metaDescription %}{% endblock %}
{% block ogDescription %}{% endblock %}
{% block metaKeywords %}{% endblock %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block mainContent %}
    <div class="col-lg-8">
        {% import 'TomSiteBundle:Macros:articlesList.html.twig' as articleList %}
        {{ articleList.tilesTwoColumn(listTitle, pagination) }}
        {{ knp_pagination_render(pagination, 'TomSiteBundle:Pagination:pagination.html.twig') }}
    </div>
{% endblock %}

{% block mainSidebarRight %}
    {{ parent() }}
    <!-- TABS STARTS -->
    <div class="tabs">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active"><a href="#categories" aria-controls="popular" role="tab" data-toggle="tab">KATEGORIE</a></li>
                <li role="presentation"><a href="#popular" aria-controls="popular" role="tab" data-toggle="tab">POPULARNE</a></li>
                <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">KOMENTOWANE</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Categories Starts -->
                <div role="tabpanel" class="tab-pane active" id="categories">
                    <div class="categories">
                        <ul class="cats">
                            {% for row in categoryListModule() %}
                                {% for item in row %}
                                    {% set category = item[0] %}
                                    <li><a href="#"><img class="img-circle avatar-sm" src="{{ asset('uploads/article/category/th_') }}{{ category.image }}" /> {{ category.name }} <span class="pull-right">{{ item.articlesCount }}</span></a></li>
                                        {% endfor %}
                                    {% endfor %}

                        </ul>
                    </div>
                </div>
                <!-- Categories Ends -->
                <!-- Popular Starts -->
                <div role="tabpanel" class="tab-pane" id="popular">
                    <ul class="tabs-posts">
                        <li>
                            <div class="pic"><img src="../../images/footer/recent-posts/1.jpg" class="img-responsive" alt="" ></div>
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                        </li>
                        <li>
                            <div class="pic"><img src="../../images/footer/recent-posts/2.jpg" class="img-responsive" alt="" ></div>
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                        </li>
                        <li>
                            <div class="pic"><img src="../../images/footer/recent-posts/3.jpg" class="img-responsive" alt="" ></div>
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                        </li>
                    </ul>
                </div>
                <!-- Popular Ends -->
                <!-- Comments Starts -->
                <div role="tabpanel" class="tab-pane" id="comments">
                    <ul class="tabs-posts">
                        <li>
                            <div class="pic"><img src="../../images/footer/recent-posts/4.jpg" class="img-responsive" alt="" ></div>
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption"><a href="#">Aenean ultricies mi vitae est. Mauris placerat eleifend leosit amet est.</a></div>
                        </li>
                        <li>
                            <div class="pic"><img src="../../images/footer/recent-posts/5.jpg" class="img-responsive" alt="" ></div>
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                        </li>
                        <li>
                            <div class="pic"><img src="../../images/footer/recent-posts/6.jpg" class="img-responsive" alt="" ></div>
                            <div class="info">
                                <span class="date"><i class="fa fa-calendar-o"></i> 01/01/2015</span>                        
                                <span class="comments pull-right"><i class="fa fa-comment-o"></i> 750</span>
                                <span class="likes pull-right"><i class="fa fa-heart-o"></i> 500</span>
                            </div>
                            <div class="caption"><a href="#">Quisque sit amet est et sapien ullamcorper pharetra.</a></div>
                        </li>
                    </ul>
                </div>
                <!-- Comments Ends -->
            </div>
        </div>
    </div>
    <!-- TABS ENDS -->

{% endblock %}

{% block javascripts %}
    {{parent()}}
{% endblock %}
