{% extends "TomAdminBundle::base.html.twig" %}

{% block pageTitle %}{{ pageTitle|striptags }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
{{parent()}}
{% endblock %}

{% block pageContainer %}
<section class="content-header">
  <h1>{{ pageTitle|raw }}</h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header padding-bottom-15">
              <h3 class="box-title">Lista</h3>
              <div class="box-tools">
                  <a class="btn btn-block btn-md btn-success pull-right" href="{{ path('tom_admin_article_category_form') }}"><small><i class="fa fa-plus"></i></small>&nbsp;&nbsp;Dodaj nową</a>
              </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">

                <form action="{{ path('tom_admin_article_categories') }}" method="get" class="form-inline filter-search padding-top-15 padding-bottom-15" role="form">
                    
                    <div class="col-xs-6 col-md-2 col-lg-1 padding-bottom-15">
                        <div class="form-group limit">
                               <select name="limit" class="form-control select-block input-md" id="limit" placeholder="Pokaż">
                                   {% for limit in limits %}
                                       <option {{ currLimit == limit ? 'selected="selected"':'' }} value="{{ limit }}">
                                           {{ limit }}
                                       </option>
                                   {% endfor %}
                               </select>
                       </div>
                    </div>

                    <div class="col-xs-12 col-md-2 col-lg-3 padding-bottom-15 pull-right">
                        <div class="input-group" style="width: 100%;">
                          <input type="text" name="nameLike" class="form-control input-md" placeholder="Wyszukaj po nazwie" value="{{ queryParams['nameLike'] }}">
                          <div class="input-group-btn">
                            <button class="btn btn-md btn-block btn-default"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
               </form>
                
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'ID', 't.id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Nazwa', 'p.name') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Ilość przypisanych artykułów', 'articlesCount') }}</th>
                        <th class="actions">Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in pagination %}
                        {% set category = row[0] %}
                        {% set editPath = path('tom_admin_article_category_form', {'id': category.id}) %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td><a href="{{ editPath }}">{{ category.name }}</a></td>
                            <td>{{ row['articlesCount'] }}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{{ editPath }}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a href="{{ path('tom_admin_article_category_delete', {'id': category.id}) }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                </div>
                            </td>
                        </tr>
                     {% else %}
                        <tr>
                            <td colspan="8" class="text-center"><br />Brak kategorii spełniejących określone warunki.<br /></td>
                        </tr>
                  {% endfor %}
                </tbody>
            </table>

            </div>
            <div class="box-footer clearfix">
                {{ knp_pagination_render(pagination, 'TomAdminBundle:Pagination:admin_pagination.html.twig') }}
            </div>
          </div>
        </div>
      </div>

</section>
{% endblock %}

{% block javascripts %}
{{parent()}}
{% endblock %}